<template>
  <div class="app">
    <div>
      <b-button v-b-modal.modal-prevent-closing style="margin: 15px"
        >Créer catégorie</b-button
      >

      <b-col sm="11">
        <b-card-group deck>
          <b-card bg-variant="info" class="general" v-on:click="lel('Tous les signes')"
            ><b-aspect aspect="1:1">Tous les signes</b-aspect>
          </b-card>

          <b-card
            bg-variant="info"
            text-variant="white"
            class="text-center"
            v-for="(name, index) in submittedNames"
            :key="index"
            v-on:click="lel(name)"
          >
            <b-aspect aspect="1:1">{{ name }}</b-aspect>
          </b-card>
        </b-card-group>
      </b-col>
    </div>

    <!-- AJOUTER CATÉGORIE -->
    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      title="Nouvelle catégorie"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Nom"
          label-for="name-input"
          invalid-feedback="Un nom est requis"
          :state="nameState"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/category.css";
@Component
export default class Home extends Vue {
  private name = "";
  private nameState = null;
  private submittedNames: Array<string> = [];

  public lel(name: string): void {
    alert("Nom catégorie : " + name);
  }

  public resetModal(): void {
    this.name = "";
    this.nameState = null;
  }

  public handleOk(bvModalEvt) {
    //Prevent modal from closing
    bvModalEvt.preventDefault();

    //Trigger submit handle
    this.handleSubmit();
  }

  public handleSubmit(): void {
    this.submittedNames.push(this.name);
    // Hide the modal manually
    this.$nextTick(() => {
      this.$bvModal.hide("modal-prevent-closing");
    });
  }
}
</script>

