<template>
  <div class="app">
    <h1>Bienvenue !</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/home.css";

@Component
export default class Home extends Vue {
  private categories: Array<string> = ['Aloha', 'Hello', 'Bonjour', 'Wesh']
  
  public lel(name: string): void {
    alert(name);
  }
}
</script>

