<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="username-group" label="Pseudonyme" label-for="username">
        <b-form-input
          id="username"
          v-model="form.username"
          placeholder="Veuillez renseigner un pseudonyme"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="password-group"
        label="Mot de passe"
        label-for="password"
      >
        <b-form-input
          id="password"
          v-model="form.password"
          type="password"
          placeholder="Veuillez choisir un mot de passe"
          required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Valider</b-button>
      <b-button type="reset" variant="danger">Réinitialiser</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Register extends Vue {
  private form = {
    username: "",
    password: "",
  };

  private show = true;

  public onSubmit(event: Event): void {
    event.preventDefault();
    alert(JSON.stringify(this.form));
  }

  public onReset(event: Event): void {
    event.preventDefault();
    //Reset form values
    this.form.username = "";
    this.form.password = "";

    //clear native browser form validation state
    this.show = false;
    this.$nextTick(() => {
      this.show = true;
    });
  }
}
</script>

