<template>
  <div>
    <b-form v-on:submit.prevent="methodRegister" @reset="onReset" v-if="show">
      <b-form-group id="firstname-group" label="Prénom" label-for="firstname">
        <b-form-input
          id="firstname"
          v-model="form.firstname"
          placeholder="Veuillez renseigner votre prénom"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="name-group" label="Nom" label-for="name">
        <b-form-input
          id="name"
          v-model="form.name"
          placeholder="Veuillez renseigner votre nom"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="username-group" label="Pseudonyme" label-for="username">
        <b-form-input
          id="username"
          v-model="form.username"
          placeholder="Veuillez renseigner un pseudonyme"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="email-group" label="E-mail" label-for="email">
        <b-form-input
          id="email"
          v-model="form.email"
          type="email"
          placeholder="Veuillez renseigner votre e-mail"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="password-group"
        label="Mot de passe"
        label-for="password"
      >
        <b-form-input
          id="password"
          v-model="form.password"
          type="password"
          placeholder="Veuillez choisir un mot de passe"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="sex-group" label="Sexe:" label-for="sex">
        <b-form-select
          id="sex"
          :v-model="formatSex(form.sex)"
          :options="sexes"
          required
        ></b-form-select>
      </b-form-group>

      <b-button type="submit" variant="primary">Valider</b-button>
      <b-button type="reset" variant="danger">Réinitialiser</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script lang="ts">
//import { RegisterDTO } from "../../../dist/models/RegisterDTO";
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Register extends Vue {
  private form = {
    birthdate: "",
    email: "",
    firstname: "",
    name: "",
    password: "",
    sex: "",
    username: "",
  };

  private sexes = [
    { text: "Veuillez sélectionner votre sexe", value: null },
    "Féminin",
    "Masculin",
    "Indéfini",
  ];

  private formatSex(sex: string): string {
    switch (sex) {
      case "Féminin":
        return "FEMALE";
      case "Masculin":
        return "MALE";
      case "Indéfini" :
        return "UNDEFINED";
      default: 
      return "SEX ERROR";
    }
  }

  private show = true;

  public onSubmit(event: Event): void {
    event.preventDefault();
    alert(JSON.stringify(this.form));
  }

  public onReset(event: Event): void {
    event.preventDefault();
    //Reset form values
    this.form.email = "";
    this.form.firstname = "";
    this.form.name = "";
    this.form.password = "";
    this.form.sex = "";
    this.form.username = "";

    //clear native browser form validation state
    this.show = false;
    this.$nextTick(() => {
      this.show = true;
    })
  }

  public methodRegister() {
    /*const registerDTO = new RegisterDTO();
    registerDTO.email = this.form.email;
    registerDTO.firstname = this.form.firstname;
    registerDTO.lastname = this.form.name;
    registerDTO.password = this.form.password;
    registerDTO.sex = this.form.sex;
    registerDTO.username = this.form.username;

    this.$store.dispatch("actionRegister", registerDTO);
    */
}
}
</script>

