<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Talk To My Hand</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item><router-link to="/" class="nav-link">Accueil</router-link></b-nav-item>
        <b-nav-item><router-link to="/register" class="nav-link">Register</router-link></b-nav-item>
        <b-nav-item><router-link to="/login" class="nav-link">Login</router-link></b-nav-item>
        <!--<b-nav-item><router-link to="" class="nav-link">Leçons</router-link></b-nav-item>-->
        <b-nav-item><router-link to="/categories" class="nav-link">Catégories</router-link></b-nav-item>
        <b-nav-item><router-link to="/sign" class="nav-link">Sign</router-link></b-nav-item>
        <!--<b-nav-item><router-link to="" class="nav-link">Classement</router-link></b-nav-item>-->
        <!--<b-nav-item><router-link to="" class="nav-link">À propos</router-link></b-nav-item>-->
        <!--<b-nav-item href="#" disabled>Disabled</b-nav-item>-->
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <template #button-content>
            <em>User</em>
          </template>
          <b-dropdown-item>Profile</b-dropdown-item>
          <!--<b-dropdown-item><router-link to="/register" class="nav-link">S'enregistrer</router-link></b-dropdown-item>-->
          <b-dropdown-item href="#">Paramètres</b-dropdown-item>
          <b-dropdown-item href="#">Déconnexion</b-dropdown-item>
        </b-nav-item-dropdown>

        <!-- SEARCH BAR -->
        <b-nav-form>
          <b-form-input
            size="sm"
            class="mr-sm-2"
            placeholder="Rechercher"
          ></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit"
            >Rechercher</b-button
          >
        </b-nav-form>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/style.css";
@Component
export default class Navbar extends Vue {

}
</script>