<template>
  <div class="app">
    <div align="center">
      <h1>NomDuSigne</h1>

      <b-card-group deck>
        <b-card>
          <div align="left">Difficulté : ✌🏼 ✌🏿 ✌🏿 ✌🏿 ✌🏿</div>
          <b-card-header>
            <Scene />
          </b-card-header>
          <b-card-title> Description </b-card-title>
          <b-card-text class="descr">
            Le signe représente le geste de faire la bise.<br />
            <ul>
              <li>Joindre les doigts des mains.</li>
              <li>Toucher une joue, puis l'autre.</li>
            </ul>
          </b-card-text>
          <b-card-footer>
            <b-button-group>
              <b-button variant="info">Ajouter aux favoris</b-button>
              <b-button variant="warning">Ajouter à une catégorie</b-button>
            </b-button-group>
          </b-card-footer>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script lang="ts">
import "@/assets/css/style.css";
import { Component, Vue } from "vue-property-decorator";
import Scene from "./Scene.vue";
@Component({
  components: { Scene },
})
export default class Sign extends Vue {}
</script>
