<template>
  <div>
    <navbar />
    <div class="app">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import Navbar from "./components/uniqueComponents/Navbar.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components : {Navbar}
})
export default class Home extends Vue {
  
}
</script>